
.btn-cart {
  width: 30px;
  height: 30px;
}

.total-price {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.input-text {
  width: 55px;
  height: 30px;
  padding: 3px;
  text-align: center;
  font-size: 1em;
}

.btn-cart:active {
  outline: none;
}

.input-text:focus, .btn-cart:focus {
  outline: none;
}